.sidebar-menu { 
    .logo-env {
        padding: 10px;
        .logo {
            float: none;
        }
    }
    .up {
       color:  #979898;
        padding-top: 18px;
        font-size: 10px;
    }

    .main-menu  li{
         outline: 0;
         -webkit-tap-highlight-color: rgba(0,0,0,0);
         -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}
.mailbox-env .mailbox-sidebar .mailbox-list {
    margin-top: 13px;
}

.mailbox-env .mail-env .mail-table {
    .group-email {
        background: #eeeeee;
        color: #333;
    }
    .col-time {
        width: 10%;
        text-align: left;
    }
    .col-flag {
        img {
            width: 35px;
            padding-left: 10px;
        }
        width: 90px;
    }
    tbody {
        td.col-cb {
           padding-left: 50px;
           padding-bottom: 25px;
        }
    }
}            

#adv-search {
    .dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}


@media screen and (min-width: 768px) {
    #adv-search {
        width: 500px;
        margin: 0 auto;
    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }
}
}
.page-container .main-content .page-title {
    margin-bottom:20px;
}
.vspacer {
        height: 40px;
}
.mailbox-env .mailbox-sidebar .mailbox-list li.list-header {
    font-size:15px;
}
.mailbox-env .mailbox-sidebar .mailbox-list {
    margin-top: -8px;
}